
body {
  padding: 2em; 
}


.image {
  width: 100%;
  height: auto;
}

.header {
}

.main {
  background-color: #fff;
}

input[type=text] {
  padding: 6px 10px;
  margin: 8px 0;
  border: 1px solid #818181; ;
  box-sizing: border-box;
}

.newKeyInput, .otherInput{
	width: 100%;
}

.add-block{
  visibility: hidden;
}


.span10 {
    padding: 1%;
   border: 1px solid #000;
   border-radius: 0;
    
}
