
body {
  padding: 2em; 
}

.header {
  background:  #cbf5e2;
  border: none; 
}

.main {
  text-align: left;   
}

input[type=text] {
  padding: 6px 10px;
  margin: 8px 0;
  border: 1px solid #818181; ;
  box-sizing: border-box;
}

.newKeyInput, .otherInput{
	width: 100%;
}

.add-block{
  visibility: hidden;
}

