
body {
  padding: 3em; 
}

.text {
  padding: 4%;
}

input[type=text] {
  width: 130px;
  box-sizing: border-box;
  color: white;
}

.newKeyInput, .otherInput{
  width: 100%;
}

.add-block{
  display: none;
}

.span10 {
  padding: 1%;
  border: 1px solid #29516D;
  border-radius: 0; 
  color:#212121;
}

#inputLarge{
  width: 95%;
  color: #212121;
}

#inputLog{
  width: 40%;
  color: #212121;
}

#addBtn2{
    width: 100%;
}

.modal{
    width: 20%;
}